<!-- properties/templates/properties/property_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property List</title>
</head>
<body>
    <h1>Property List</h1>
    <ul>
        {% for property in properties_list %}
            <li><a href="{% url 'property_detail' property.id %}">{{ property.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
