<!-- tenants/templates/tenants/tenant_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenant List</title>
</head>
<body>
    <h1>Tenant List</h1>
    <ul>
        {% for tenant in tenants_list %}
            <li><a href="{% url 'tenant_detail' tenant.id %}">{{ tenant.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
